<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BitmexSampleBotGoran.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <BitmexSampleBotGoran.Properties.Settings>
            <setting name="OverloadRetry" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="OverloadRetryAttempts" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="APIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="APISecret" serializeAs="String">
                <value />
            </setting>
            <setting name="TestAPIKey" serializeAs="String">
                <value />
            </setting>
            <setting name="TestAPISecret" serializeAs="String">
                <value />
            </setting>
        </BitmexSampleBotGoran.Properties.Settings>
    </userSettings>
</configuration>